<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | OAuth</title>
</head>
<body>

  <nav>
    <ul>
      <% if(user) { %>
      <li><a href="/auth/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/auth/login">Login</a></li>
      <% } %>
      <li><a href="/">Homepage</a></li>
      <li><a href="/profile">Profile</a></li>
    </ul>
  </nav>
  <header>
    <h1>Oath</h1>
    <h2>Home</h2>
  </header>
  <main>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam saepe soluta iusto necessitatibus a reprehenderit in eaque architecto amet, molestiae voluptates vero non modi nemo iste excepturi iure voluptatem. Odio.</p>
  </main>
  
</body>
</html>